<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddToEmailServlet</servlet-name>
        <servlet-class>email.AddToEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>cart.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserServlet</servlet-name>
        <servlet-class>cart.CheckUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCartServlet</servlet-name>
        <servlet-class>cart.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayInvoiceServlet</servlet-name>
        <servlet-class>cart.DisplayInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUserServlet</servlet-name>
        <servlet-class>cart.ProcessUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <servlet-class>cart.CompleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToEmailServlet</servlet-name>
        <url-pattern>/AddToEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>util.CartContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>custServEmail</param-name>
        <param-value>custserv@rjweaver.com</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>CheckUserServlet</servlet-name>
        <url-pattern>/checkUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCartServlet</servlet-name>
        <url-pattern>/displayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayInvoiceServlet</servlet-name>
        <url-pattern>/displayInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUserServlet</servlet-name>
        <url-pattern>/processUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <url-pattern>/completeOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-env-ref>
        <resource-env-ref-name>jdbc/rob_test</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
</web-app>
